#draggable { width: 150px; height: 150px; ;
   z-index: 2;
  }
body {
  margin: 0;
  background-color: black;
}
header {
  background-color: purple;
  height: 300px;
  width: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  height: 200px;
  background-color: purple;
  width: 100%;
  text-align: center;
}
